@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

.sobre {
    padding: 7vw 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vw;
}

.sobre img {
    width: 85vw;
}

.sobre h2 {
    font-family: "Labrada", serif;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
}

.sobre p {
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
}

.sessoes {
    text-align: center;
}

.sessoes h2 {
    margin-bottom: 4vw;
    font-family: "Labrada", serif;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
}
.sessoes h3 {
    font-size: 1.4rem;
    margin-top: 1vw;
    opacity: 0.8;
    font-weight: 200;
}
.sessoes iframe {
    border-radius: 20px;
    width: 85vw;
    height: 50vw;
}
.sessoes nav ul {
    display: flex;
    flex-direction: column;
    gap: 6vw;
}

.integrantes {
    padding: 10vw 4vw;
    text-align: center;
}
.integrantes h2 {
    margin-bottom: 4vw;
    font-family: "Labrada", serif;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
}
.integrantes li {
    font-size: 1.5rem;
    margin-top: 1vw;
    opacity: 0.6;
    font-weight: 200;
    margin-bottom: 2vw;
}

p span {
    color: yellow;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 2rem;
    cursor: pointer;
}
button {
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
}

@media only screen and (min-width: 992px) {
    .sobre {
        flex-direction: row;
    }
    .sobre img {
        width: 35vw;
    }
    .sessoes h2 {
        margin-bottom: 1vw;
    }
    .sessoes nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 1vw;
        flex-wrap: wrap;
    }
    .sessoes iframe {
        width: 28vw;
        height: 15vw;
    }
    .sessoes h3 {
        margin-top: 0.5vw;
    }
    .integrantes h2 {
        margin-bottom: 1vw;
    }
    .integrantes li {
        margin-bottom: 1vw;
    }
    .integrantes {
        padding: 10vw 4vw 3vw 4vw;
    }
}