@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

.sobre {
    margin: 5vw 2vw;
}

.sobre h2 {
    font-family: "Labrada", serif;
    font-size: 10vw;
    font-weight: bolder;
    text-align: center;
    margin: 0 0 4vw 0;
}

.sobre p {
    font-size: 5.5vw;
    text-align: center;
    font-weight: 200;
}

.rpgs {
    padding-bottom: 5vw;
}
.rpgs h2 {
    font-family: "Labrada", serif;
    font-size: 10vw;
    font-weight: bolder;
    text-align: center;
    margin: 10vw 0 4vw 0;
}
.rpgs nav {
    text-align: center;
}
.rpgs nav ul li a img {
    width: 85vw;
    border-radius: 40px;
}
.rpgs nav ul {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}