@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

.sobre {
    margin: 5vw 2vw;
}

.sobre h2 {
    font-family: "Labrada", serif;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin: 0 0 4vw 0;
}

.sobre p {
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
}

.rpgs {
    padding-bottom: 5vw;
}
.rpgs h2 {
    font-family: "Labrada", serif;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin: 10vw 0 4vw 0;
}
.rpgs nav {
    text-align: center;
}
.rpgs nav ul li a img {
    width: 23rem;
    border-radius: 40px;
}
.rpgs nav ul {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

@media only screen and (min-width: 992px) {
    .sobre h2 {
        margin: 1vw 0;
    }
    .sobre {
        margin: 2vw 4vw;
    }
    .rpgs h2 {
        margin: 4vw 0 1vw 0;
    }
    .rpgs nav ul {
        flex-direction: row;
        gap: 1.5vw;
        justify-content: center;
    }
    .rpgs nav ul li a img {
        transition: transform 0.3s ease-in, box-shadow 0.3s ease-in ;
    }
    .rpgs nav ul li a img:hover {
        transform: scale(1.05);
    }
    .verde:hover {
        box-shadow: 0 0 25px rgb(0, 255, 51);
    }
    .roxo:hover {
        box-shadow: 0 0 25px rgb(179, 0, 255);
    }
}